//
@font-face {
	font-family: "iconfont";
	src: url('~@/assets/fonts/icons/iconfont.eot');
	src: url('~@/assets/fonts/icons/iconfont.eot?#iefix') format('eot'),
		url('~@/assets/fonts/icons/iconfont.woff2') format('woff2'),
		url('~@/assets/fonts/icons/iconfont.woff') format('woff'),
		url('~@/assets/fonts/icons/iconfont.ttf') format('truetype'),
		url('~@/assets/fonts/icons/iconfont.svg#iconfont') format('svg');
}

@mixin icon-styles {
	font-family: "iconfont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	 @if $filename==add {
			$char: "\E001";
		}

		 @if $filename==arrow_return {
			$char: "\E002";
		}

		 @if $filename==check {
			$char: "\E003";
		}

		 @if $filename==delete {
			$char: "\E004";
		}

		 @if $filename==edit {
			$char: "\E005";
		}

		 @if $filename==eye {
			$char: "\E006";
		}

		 @if $filename==eye_hidden {
			$char: "\E007";
		}

		 @if $filename==profile {
			$char: "\E008";
		}

		 @if $filename==question_mark {
			$char: "\E009";
		}

		 @if $filename==stats {
			$char: "\E00A";
		}

		@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		}

		@else {
			@include icon-styles;
		}

		content: icon-char($filename);
	}
}

.icon-add {
		@include icon(add);
	}

	.icon-arrow_return {
		@include icon(arrow_return);
	}

	.icon-check {
		@include icon(check);
	}

	.icon-delete {
		@include icon(delete);
	}

	.icon-edit {
		@include icon(edit);
	}

	.icon-eye {
		@include icon(eye);
	}

	.icon-eye_hidden {
		@include icon(eye_hidden);
	}

	.icon-profile {
		@include icon(profile);
	}

	.icon-question_mark {
		@include icon(question_mark);
	}

	.icon-stats {
		@include icon(stats);
	}

	