// Colors
$color-golden: #FFBA4C;
$color-golden-darker: #2F2612;
$color-blue: #23445C;
$color-green: #56E39F;
$color-red: #EA6060;
$color-anthracite: #424242;
$color-anthracite-blue: #2a373c;

$color-facebook: #4267B2;